@import "tailwindcss";

:root {
  --background: #ffffff;
  --text-white: #ffffff;
  --text-black: #000000;
  --foreground: #171717;
  --bg-color: #191b24;
  --text-base: #aaa;
  --primary-color: #ffd875;
  --primary-color-hover: #ffde8a;
  --primary-button-text: #191b24;
  --primary-text: #ffd875;
  --top-bg-default: #202331;
  --border-color: #ffffff10;
  --bg-2: #282b3a;
  --bg-3: #2f3346;
  --bg-4: #3e435c;
  --bg-5: #535d8e;
  --footer-bg: #0f111a;
  --shadow-large: 0 0 20px 20px rgba(0, 0, 0, 0.1);
  --h-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  --category-name: #fff;
  --padding-base: 40px;
  --bs-border-color: rgba(0, 0, 0, 0.3);
  --Toastify__progress-bar--error: #f85f5f !important;
  --toastify-icon-color-error: #f85f5f !important;
  --bg-red: #78140f;
  --bg-search: rgba(255, 255, 255, 0.08);
  --bg-navbar: rgba(15, 17, 26, 0.95) !important;
  --bg-hover-navbar: #ffffff05 !important;
  --bg-text: #ffffff10;
  --text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  --text-shadow-hover: 0 5px 10px 10px rgba(255, 218, 125, 0.15);
  --bg-list: linear-gradient(
    0deg,
    rgba(40, 43, 58, 0) 20%,
    rgba(40, 43, 58, 1)
  );
  --bg-text-title: linear-gradient(
    235deg,
    rgb(255, 255, 255) 30%,
    rgb(103, 65, 150) 130%
  );
  --bg-des-film: rgba(25, 27, 36, 0.3);
  --box-shadow-film: 0 5px 10px 10px rgba(255, 218, 125, 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-base);
  box-sizing: border-box;
  font-size: 0.75rem;
  line-height: 1.2;
  font-weight: 400;
}

/* Container */
.container,
header {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.75rem;
}

.flex-tf-col-mobile {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.dis-non-mobile {
  display: none;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  /* margin: 0 0 0.75rem 0; */
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  /* margin: 0 0 0.75rem 0; */
}

h2 {
  /* color: var(--primary-text); */
  font-size: 1.5rem;
  font-weight: 600;
  /* margin: 0 0 0.75rem 0; */
}

h1 {
  color: var(--primary-text);
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 0.75rem 0;
}

@media (min-width: 576px) {
  .container,
  header {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  header {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  header {
    max-width: 960px;
  }

  body {
    font-size: 0.875rem;
    line-height: 1.4;
    font-weight: 400;
  }

  .flex-tf-col-mobile {
    flex-direction: row;
  }

  .dis-non-mobile {
    display: block;
  }

  h4 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .container,
  header {
    max-width: 1140px;
    padding: 0 1.875rem;
  }
}
@media (min-width: 1400px) {
  .container,
  header {
    max-width: 1900px;
    padding: 0 3.125rem;
    font-size: 1rem;
    line-height: 1.6;
  }
}

@media (min-width: 1560px) {
  .container,
  header {
    max-width: 100%;
    padding: 0 3.125rem;
  }
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgb(25, 27, 36);
  background: linear-gradient(0deg, rgba(25, 27, 36, 0), rgba(25, 27, 36, 1));
}

header.fly {
  background: transparent !important;
}

header.fixed {
  background-color: var(--footer-bg) !important;
}

/* home */
.baner-swiper-thumbs .swiper-slide-thumb-active {
  border: 2px solid var(--background);
}

@keyframes hoverCard {
  0% {
    opacity: 0;
    transform: translateY(8px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-hover-card {
  animation: hoverCard 0.2s ease-out forwards;
}

.swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none;
}

.max-content {
  max-width: 1640px;
  padding: 0 20px;
  margin: auto;
  width: 100%;
  position: relative;
  z-index: 2;
}

.header-scroll {
  position: fixed;
  top: 0;
  width: 100vw;
  background: rgba(18, 18, 18, 0.9);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  max-width: 100vw;
}
